<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>Controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>Controller.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>Controller.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCusController</servlet-name>
        <servlet-class>Controller.LoginCusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHome</servlet-name>
        <servlet-class>Controller.SearchHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpCustomer</servlet-name>
        <servlet-class>Controller.SignUpCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>Controller.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostController</servlet-name>
        <servlet-class>Controller.PostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Status</servlet-name>
        <servlet-class>Controller.Status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecurityQuestionController</servlet-name>
        <servlet-class>Controller.SecurityQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsList</servlet-name>
        <servlet-class>Controller.ProductsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>Controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatus</servlet-name>
        <servlet-class>Controller.UpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>Controller.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProduct</servlet-name>
        <servlet-class>Controller.ViewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>Controller.changePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetail</servlet-name>
        <servlet-class>Controller.PostDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPost</servlet-name>
        <servlet-class>Controller.EditPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>Controller.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>Controller.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsListPublic</servlet-name>
        <servlet-class>Controller.ProductsListPublic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderServlet</servlet-name>
        <servlet-class>Controller.SliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsPublic</servlet-name>
        <servlet-class>Controller.ProductDetailsPublic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDetails</servlet-name>
        <servlet-class>Controller.CartDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTDashboard</servlet-name>
        <servlet-class>Controller.MKTDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>Controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackList</servlet-name>
        <servlet-class>Controller.FeedBackList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusFeedBack</servlet-name>
        <servlet-class>Controller.StatusFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetail</servlet-name>
        <servlet-class>Controller.BlogDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orderlist</servlet-name>
        <servlet-class>Controller.Orderlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductDetails</servlet-name>
        <servlet-class>Controller.EditProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartContact</servlet-name>
        <servlet-class>Controller.CartContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>Controller.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetails</servlet-name>
        <servlet-class>Controller.OrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TurnFeatured</servlet-name>
        <servlet-class>Controller.TurnFeatured</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDashboard</servlet-name>
        <servlet-class>Controller.SaleDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfileCustomer</servlet-name>
        <servlet-class>Controller.editProfileCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>Controller.CancelOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrder</servlet-name>
        <servlet-class>Controller.MyOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderDetail</servlet-name>
        <servlet-class>Controller.MyOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderStatus</servlet-name>
        <servlet-class>Controller.OrderStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSale</servlet-name>
        <servlet-class>Controller.UpdateSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusOrder</servlet-name>
        <servlet-class>Controller.UpdateStatusOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleName</servlet-name>
        <servlet-class>Controller.SaleName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartCompletion</servlet-name>
        <servlet-class>Controller.CartCompletion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDetail</servlet-name>
        <servlet-class>Controller.FeedbackDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayAgain</servlet-name>
        <servlet-class>Controller.PayAgain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>Controller.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editStatusOrder</servlet-name>
        <servlet-class>Controller.editStatusOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfileUser</servlet-name>
        <servlet-class>Controller.editProfileUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/NewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCusController</servlet-name>
        <url-pattern>/LoginCusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHome</servlet-name>
        <url-pattern>/SearchHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpCustomer</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/PostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Status</servlet-name>
        <url-pattern>/Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecurityQuestionController</servlet-name>
        <url-pattern>/SecurityQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsList</servlet-name>
        <url-pattern>/productslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/addp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatus</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/editp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProduct</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetail</servlet-name>
        <url-pattern>/PostDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPost</servlet-name>
        <url-pattern>/EditPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/BlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServletURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsListPublic</servlet-name>
        <url-pattern>/ProductsListPublic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderServlet</servlet-name>
        <url-pattern>/SliderServletURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsPublic</servlet-name>
        <url-pattern>/ProductDetailsPublic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDetails</servlet-name>
        <url-pattern>/CartDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTDashboard</servlet-name>
        <url-pattern>/MKTDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackList</servlet-name>
        <url-pattern>/FeedBackList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusFeedBack</servlet-name>
        <url-pattern>/StatusFeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetail</servlet-name>
        <url-pattern>/BlogDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orderlist</servlet-name>
        <url-pattern>/orderlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductDetails</servlet-name>
        <url-pattern>/editProductDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartContact</servlet-name>
        <url-pattern>/CartContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetails</servlet-name>
        <url-pattern>/orderdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TurnFeatured</servlet-name>
        <url-pattern>/turnfeatured</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDashboard</servlet-name>
        <url-pattern>/SaleDashboardURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfileCustomer</servlet-name>
        <url-pattern>/editProfileCustomerURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/CancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrder</servlet-name>
        <url-pattern>/MyOrderURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrderDetail</servlet-name>
        <url-pattern>/MyOrderDetailURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderStatus</servlet-name>
        <url-pattern>/orderstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSale</servlet-name>
        <url-pattern>/updatesale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusOrder</servlet-name>
        <url-pattern>/updatestatusorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleName</servlet-name>
        <url-pattern>/sales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartCompletion</servlet-name>
        <url-pattern>/CartCompletion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetail</servlet-name>
        <url-pattern>/FeedbackDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayAgain</servlet-name>
        <url-pattern>/PayAgain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/AdminDashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DBcus</servlet-name>
        <servlet-class>Controller.DBcus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBpost</servlet-name>
        <servlet-class>Controller.DBpost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBpro</servlet-name>
        <servlet-class>Controller.DBpro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBfeedback</servlet-name>
        <servlet-class>Controller.DBfeedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBpost</servlet-name>
        <url-pattern>/DBpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBpro</servlet-name>
        <url-pattern>/DBpro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBfeedback</servlet-name>
        <url-pattern>/DBfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBcus</servlet-name>
        <url-pattern>/DBcus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditReceive</servlet-name>
        <servlet-class>Controller.EditReceive</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditReceive</servlet-name>
        <url-pattern>/EditReceive</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditSQ</servlet-name>
        <servlet-class>Controller.EditSQ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditSQ</servlet-name>
        <url-pattern>/EditSQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editStatusOrder</servlet-name>
        <url-pattern>/editStatusOrderURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfileUser</servlet-name>
        <url-pattern>/editProfileUserURL</url-pattern>
    </servlet-mapping>
</web-app>
